In [1]:
import pandas as pd
from dplython import (DplyFrame, X, diamonds, select, sift, sample_n,
    sample_frac, head, arrange, mutate, group_by, summarize, DelayFunction) 
import matplotlib.pyplot as plt
import seaborn as sns

C:\Users\unews\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)
C:\Users\unews\Anaconda3\lib\importlib\_bootstrap.py:219: ImportWarning: can't resolve package from __spec__ or __package__, falling back on __name__ and __path__
  return f(*args, **kwds)

In [2]:
abs1617 = pd.read_excel("C:/Users/unews/nss_data_science/Capstone/chr_abs_District-Level_Suppression_2016-17.xls")

In [3]:
abs1718 = pd.read_excel("C:/Users/unews/nss_data_science/Capstone/chr_abs_District-Level_Suppression_2017-18.xlsx")

In [4]:
allstuds1718 =abs1718[(abs1718['Student Group'] == 'All Students') & (abs1718['Grade Band'] == 'All Grades')]

In [5]:
stu1718 = allstuds1718[allstuds1718['% Chronically Absent']!='**'] #Removed 3 from original dataset - suppressed data

In [6]:
allstuds1718[allstuds1718['% Chronically Absent']=='**']

,Year,District,District Name,Student Group,Grade Band,# Students,# Chronically Absent,% Chronically Absent
1596,2018,320,Hamblen County,All Students,All Grades,10227,**,**
2455,2018,542,Etowah,All Students,All Grades,372,**,**
4317,2018,970,Department Of Children's Services Education Di...,All Students,All Grades,1295,**,**

In [7]:
stu1718.sort_values(by = '% Chronically Absent', ascending = False)

,Year,District,District Name,Student Group,Grade Band,# Students,# Chronically Absent,% Chronically Absent
4247,2018,960,West Tennessee School for the Deaf,All Students,All Grades,23,8,34.8
4344,2018,985,Achievement School District,All Students,All Grades,10955,3000,27.4
4290,2018,964,Tennessee School for the Deaf,All Students,All Grades,125,32,25.6
709,2018,130,Claiborne County,All Students,All Grades,4096,1045,25.5
581,2018,100,Carter County,All Students,All Grades,5038,1260,25
4373,2018,986,Tennessee State Board of Education,All Students,All Grades,150,35,23.3
2548,2018,570,Madison County,All Students,All Grades,12309,2814,22.9
358,2018,70,Campbell County,All Students,All Grades,5334,1178,22.1
2160,2018,480,Lake County,All Students,All Grades,752,162,21.5
3863,2018,860,Unicoi County,All Students,All Grades,2287,476,20.8
4051,2018,910,Wayne County,All Students,All Grades,2172,440,20.3
1969,2018,420,Houston County,All Students,All Grades,1317,259,19.7
769,2018,150,Cocke County,All Students,All Grades,4415,810,18.3
3356,2018,780,Sevier County,All Students,All Grades,14197,2599,18.3
2733,2018,620,Monroe County,All Students,All Grades,5209,948,18.2
1001,2018,190,Davidson County,All Students,All Grades,81788,14711,18
1658,2018,340,Hancock County,All Students,All Grades,971,173,17.8
1802,2018,380,Haywood County,All Students,All Grades,2762,483,17.5
2579,2018,580,Marion County,All Students,All Grades,3966,692,17.4
1718,2018,360,Hardin County,All Students,All Grades,3440,595,17.3
3576,2018,798,Millington Municipal Schools,All Students,All Grades,2478,415,16.7
10,2018,10,Anderson County,All Students,All Grades,6291,1049,16.7
2131,2018,470,Knox County,All Students,All Grades,59167,9694,16.4
3029,2018,700,Polk County,All Students,All Grades,2266,369,16.3
647,2018,110,Cheatham County,All Students,All Grades,6071,977,16.1
1469,2018,290,Grainger County,All Students,All Grades,3355,541,16.1
874,2018,162,Tullahoma,All Students,All Grades,3433,548,16
3672,2018,820,Sullivan County,All Students,All Grades,9446,1513,16
3738,2018,822,Kingsport,All Students,All Grades,7421,1174,15.8
2250,2018,510,Lewis County,All Students,All Grades,1620,253,15.6
...,...,...,...,...,...,...,...,...
821,2018,160,Coffee County,All Students,All Grades,4278,355,8.3
2346,2018,530,Loudon County,All Students,All Grades,4670,381,8.2
3608,2018,800,Smith County,All Students,All Grades,3005,241,8
3231,2018,751,Murfreesboro,All Students,All Grades,8392,660,7.9
128,2018,30,Benton County,All Students,All Grades,2137,167,7.8
437,2018,92,Hollow Rock - Bruceton,All Students,All Grades,620,46,7.4
550,2018,97,West Carroll Sp Dist,All Students,All Grades,855,62,7.3
2433,2018,541,Athens,All Students,All Grades,1579,116,7.3
1404,2018,275,Gibson Co Sp Dist,All Students,All Grades,3914,282,7.2
740,2018,140,Clay County,All Students,All Grades,1049,76,7.2
1315,2018,272,Milan,All Students,All Grades,1928,129,6.7
3925,2018,880,Van Buren County,All Students,All Grades,702,47,6.7
3488,2018,795,Collierville,All Students,All Grades,8626,556,6.4
923,2018,171,Alamo,All Students,All Grades,530,34,6.4
1534,2018,301,Greeneville,All Students,All Grades,2997,184,6.1
3521,2018,796,Germantown,All Students,All Grades,6007,352,5.9
1376,2018,274,Bradford,All Students,All Grades,516,29,5.6
523,2018,95,South Carroll,All Students,All Grades,342,19,5.6
2910,2018,661,Union City,All Students,All Grades,1605,86,5.4
3543,2018,797,Lakeland,All Students,All Grades,1608,87,5.4
4148,2018,940,Williamson County,All Students,All Grades,38659,1967,5.1
2850,2018,650,Morgan County,All Students,All Grades,2876,144,5
905,2018,170,Crockett County,All Students,All Grades,2002,101,5
941,2018,172,Bells,All Students,All Grades,368,18,4.9
4170,2018,941,Franklin SSD,All Students,All Grades,3540,168,4.7
465,2018,93,Huntingdon Special School District,All Students,All Grades,1226,56,4.6
3422,2018,793,Arlington,All Students,All Grades,4571,188,4.1
495,2018,94,McKenzie,All Students,All Grades,1298,45,3.5
259,2018,52,Maryville,All Students,All Grades,5229,167,3.2
415,2018,90,Carroll County,All Students,All Grades,182,2,1.1

In [8]:
k8all =abs1718[(abs1718['Student Group'] == 'All Students') & (abs1718['Grade Band'] == 'K through 8th')]

In [9]:
k8all[k8all['# Chronically Absent'] == '**']

,Year,District,District Name,Student Group,Grade Band,# Students,# Chronically Absent,% Chronically Absent
422,2018,90,Carroll County,All Students,K through 8th,18,**,**
1607,2018,320,Hamblen County,All Students,K through 8th,7175,**,**
2465,2018,542,Etowah,All Students,K through 8th,372,**,**
4327,2018,970,Department Of Children's Services Education Di...,All Students,K through 8th,309,**,**

In [10]:
k8all.shape #Add county data later...

(145, 8)

### Etowah and Hamblen County seemed to consistently have very high chronic absenteeism on account of suppression information. - https://www.tn.gov/content/dam/tn/education/rpt-crd/report_card_suppression_rules_201718.pdf

### Let's look at the overall information

In [11]:
abs1718[abs1718['# Chronically Absent'] == "**"]

,Year,District,District Name,Student Group,Grade Band,# Students,# Chronically Absent,% Chronically Absent
1,2018,10,Anderson County,American Indian or Alaska Native,9th through 12th,13,**,**
18,2018,10,Anderson County,Native Hawaiian or Other Pacific Islander,All Grades,10,**,**
29,2018,10,Anderson County,Native Hawaiian or Other Pacific Islander,K through 8th,10,**,**
76,2018,12,Oak Ridge,Asian,K through 8th,109,**,**
130,2018,30,Benton County,Asian,All Grades,17,**,**
141,2018,30,Benton County,Asian,K through 8th,14,**,**
174,2018,40,Bledsoe County,Black or African American,K through 8th,17,**,**
206,2018,50,Blount County,Asian,K through 8th,54,**,**
217,2018,51,Alcoa,Asian,9th through 12th,15,**,**
221,2018,51,Alcoa,English Learners with Transitional 1-4,9th through 12th,12,**,**
227,2018,51,Alcoa,American Indian or Alaska Native,All Grades,12,**,**
248,2018,52,Maryville,All Students,9th through 12th,1671,**,**
250,2018,52,Maryville,Asian,9th through 12th,44,**,**
254,2018,52,Maryville,English Learners with Transitional 1-4,9th through 12th,25,**,**
257,2018,52,Maryville,Students with Disabilities,9th through 12th,190,**,**
258,2018,52,Maryville,White,9th through 12th,1462,**,**
260,2018,52,Maryville,American Indian or Alaska Native,All Grades,13,**,**
261,2018,52,Maryville,Asian,All Grades,145,**,**
272,2018,52,Maryville,Asian,K through 8th,101,**,**
316,2018,61,Cleveland,Asian,9th through 12th,36,**,**
333,2018,61,Cleveland,Native Hawaiian or Other Pacific Islander,All Grades,34,**,**
344,2018,61,Cleveland,Native Hawaiian or Other Pacific Islander,K through 8th,25,**,**
412,2018,90,Carroll County,Economically Disadvantaged,9th through 12th,73,**,**
414,2018,90,Carroll County,White,9th through 12th,126,**,**
418,2018,90,Carroll County,Economically Disadvantaged,All Grades,80,**,**
421,2018,90,Carroll County,White,All Grades,136,**,**
422,2018,90,Carroll County,All Students,K through 8th,18,**,**
427,2018,90,Carroll County,Students with Disabilities,K through 8th,18,**,**
428,2018,90,Carroll County,White,K through 8th,10,**,**
431,2018,92,Hollow Rock - Bruceton,Black or African American,9th through 12th,14,**,**
...,...,...,...,...,...,...,...,...
3928,2018,880,Van Buren County,Black/Hispanic/Native American,All Grades,14,**,**
3931,2018,880,Van Buren County,Hispanic,All Grades,11,**,**
3936,2018,880,Van Buren County,Black/Hispanic/Native American,K through 8th,10,**,**
3997,2018,900,Washington County,American Indian or Alaska Native,K through 8th,17,**,**
4099,2018,920,Weakley County,English Learners with Transitional 1-4,K through 8th,23,**,**
4116,2018,930,White County,American Indian or Alaska Native,All Grades,13,**,**
4127,2018,930,White County,American Indian or Alaska Native,K through 8th,11,**,**
4171,2018,941,Franklin SSD,American Indian or Alaska Native,All Grades,26,**,**
4182,2018,941,Franklin SSD,American Indian or Alaska Native,K through 8th,26,**,**
4307,2018,970,Department Of Children's Services Education Di...,All Students,9th through 12th,986,**,**
4310,2018,970,Department Of Children's Services Education Di...,Black or African American,9th through 12th,407,**,**
4311,2018,970,Department Of Children's Services Education Di...,Black/Hispanic/Native American,9th through 12th,459,**,**
4312,2018,970,Department Of Children's Services Education Di...,Economically Disadvantaged,9th through 12th,938,**,**
4314,2018,970,Department Of Children's Services Education Di...,Hispanic,9th through 12th,49,**,**
4315,2018,970,Department Of Children's Services Education Di...,Students with Disabilities,9th through 12th,419,**,**
4316,2018,970,Department Of Children's Services Education Di...,White,9th through 12th,523,**,**
4317,2018,970,Department Of Children's Services Education Di...,All Students,All Grades,1295,**,**
4320,2018,970,Department Of Children's Services Education Di...,Black or African American,All Grades,507,**,**
4321,2018,970,Department Of Children's Services Education Di...,Black/Hispanic/Native American,All Grades,571,**,**
4322,2018,970,Department Of Children's Services Education Di...,Economically Disadvantaged,All Grades,1245,**,**
4324,2018,970,Department Of Children's Services Education Di...,Hispanic,All Grades,60,**,**
4325,2018,970,Department Of Children's Services Education Di...,Students with Disabilities,All Grades,608,**,**
4326,2018,970,Department Of Children's Services Education Di...,White,All Grades,720,**,**
4327,2018,970,Department Of Children's Services Education Di...,All Students,K through 8th,309,**,**
4329,2018,970,Department Of Children's Services Education Di...,Black or African American,K through 8th,100,**,**
4330,2018,970,Department Of Children's Services Education Di...,Black/Hispanic/Native American,K through 8th,112,**,**
4331,2018,970,Department Of Children's Services Education Di...,Economically Disadvantaged,K through 8th,307,**,**
4332,2018,970,Department Of Children's Services Education Di...,Hispanic,K through 8th,11,**,**
4333,2018,970,Department Of Children's Services Education Di...,Students with Disabilities,K through 8th,189,**,**
4334,2018,970,Department Of Children's Services Education Di...,White,K through 8th,197,**,**

#### Either the issue is with students of color from various subgroups or entire counties.  Is this an error such as the three mentioned above (Carroll, Etowah, and Hamblen to have more than 99%)

In [12]:
salary1617 = pd.read_csv("C:/Users/unews/nss_data_science/Capstone/asr1617.csv")

In [13]:
salary1617.iloc[:,1].value_counts() #143 cases. Need to change names to match other dataframes, take away *, etc.

ALAMO            1
PICKETT CO       1
NEWPORT          1
*TRENTON         1
MILLINGTON       1
LEWIS CO         1
*RICHARD CITY    1
MARION CO        1
HAMBLEN CO       1
COFFEE CO        1
SEQUATCHIE CO    1
MONTGOMERY CO    1
JOHNSON CITY     1
PERRY CO         1
GREENEVILLE      1
MONROE CO        1
MEIGS CO         1
CARROLL CO       1
MARYVILLE        1
KNOX CO          1
HENDERSON CO     1
MORGAN CO        1
SULLIVAN CO      1
ROGERSVILLE      1
DYER CO          1
ANDERSON CO      1
DICKSON CO       1
BLEDSOE CO       1
BLOUNT CO        1
CARTER CO        1
                ..
STATE AVERAGE    1
WILSON CO        1
CROCKETT CO      1
SMITH CO         1
BRADLEY CO       1
MCMINN CO        1
DYERSBURG        1
CHESTER CO       1
GILES CO         1
*FRANKLIN        1
FRANKLIN CO      1
CANNON CO        1
SWEETWATER       1
CAMPBELL CO      1
FAYETTE CO       1
UNION CITY       1
MANCHESTER       1
*LEBANON         1
ALCOA            1
HAYWOOD CO       1
COCKE CO         1
ROANE CO         1
CLEVELAND        1
JOHNSON CO       1
LAKE CO          1
ELIZABETHTON     1
KINGSPORT        1
MURFREESBORO     1
BARTLETT         1
OVERTON CO       1
Name: Unnamed: 0.1, Length: 143, dtype: int64

In [14]:
salary1617 = salary1617.iloc[1:,1:]

In [15]:
salary1617.columns = ('system_name', 'licensed_educator', 'instuctional_personnel', 'classroom_teacher','principal', 'superintendent')

In [16]:
salary1617low = salary1617.sort_values(by = 'classroom_teacher')

In [17]:
salary1617low = salary1617low.iloc[:143,:]

In [18]:
#salary1617.iloc[:,0].lower()
salary1617=salary1617.apply(lambda x: x.astype(str).str.lower())

In [19]:
salary1617[salary1617['system_name']=='nan']

,system_name,licensed_educator,instuctional_personnel,classroom_teacher,principal,superintendent
62,nan,educators,personnel,teacher,principal,superintendent
124,nan,educators,personnel,teacher,principal,superintendent

In [20]:
salary1617 = salary1617.drop([62, 124, 145]) #index 145 = state average

In [21]:
salary1617

,system_name,licensed_educator,instuctional_personnel,classroom_teacher,principal,superintendent
1,anderson co,"49,268","48,764","46,386","81,234","135,000"
2,clinton,"49,636","49,025","45,343","73,800","100,000"
3,oak ridge,"66,065","65,927","63,519","98,186","188,840"
4,bedford co,"47,974","47,685","45,733","78,245","107,826"
5,benton co,"48,233","48,032","45,908","64,938","89,207"
6,bledsoe co,"51,766","51,268","48,781","69,205","103,635"
7,blount co,"53,556","53,330","50,990","90,387","128,900"
8,alcoa,"64,653","64,502","61,790","99,120","112,567"
9,maryville,"65,067","64,638","62,383","1 06,441","155,897"
10,bradley co,"52,614","52,471","50,559","79,943","136,000"
11,cleveland,"55,241","54,995","52,155","92,900","138,000"
12,campbell co,"48,445","48,239","45,726","72,243","108,918"
13,cannon co,"46,534","46,219","44,245","68,512","99,521"
14,carroll co,"47,177","43,919","42,115","54,745","94,732"
15,*hollow rock-br,"45,482","44,419","42,627","66,570","88,876"
16,*huntingdon,"50,002","49,524","47,468","78,083","97,690"
17,*mckenzie,"49,860","49,295","47,028","76,923","88,978"
18,*south carroll,"48,333","48,204","45,813","66,177","92,527"
19,*west carroll,"46,471","45,944","44,329","68,459","90,162"
20,carter co,"45,663","45,421","44,188","61,110","90,993"
21,elizabethton,"50,666","50,241","47,945","80,167","110,313"
22,cheatham co,"47,553","47,452","45,380","78,234","101,449"
23,chester co,"48,748","48,148","45,955","76,149","100,425"
24,claiborne co,"46,329","45,968","43,714","72,503","107,751"
25,clay co,"46,789","46,232","43,905","62,520","77,563"
26,cocke co,"47,887","47,543","45,497","75,125","120,945"
27,newport,"49,005","48,408","47,248","75,774","88,000"
28,coffee co,"48,984","48,713","46,537","72,201","118,554"
29,manchester,"54,377","53,896","51,466","75,321","115,000"
30,tullahoma,"53,427","52,887","50,964","87,513","142,844"
...,...,...,...,...,...,...
114,sevier co,"52,709","52,502","50,356","91,611","149,248"
115,shelby co,"59,413","59,214","56,456","1 01,644","277,070"
116,arlington,"62,382","61,307","58,891","1 07,598","157,570"
117,bartlett,"60,056","59,092","56,740","1 09,258","194,400"
118,collierville,"61,368","60,135","58,424","1 04,662","186,000"
119,germantown,"61,376","59,817","57,769","1 07,143","170,000"
120,lakeland,"61,803","61,003","58,154","1 01,392","132,600"
121,millington,"59,210","58,949","55,884","1 06,055","137,000"
122,smith co,"45,572","44,945","42,951","64,385","124,995"
123,stewart co,"49,921","49,589","47,148","70,787","99,752"
125,sullivan co,"48,357","48,098","46,787","73,351","132,600"
126,bristol,"56,033","55,582","52,591","96,979","146,019"
127,kingsport,"59,696","59,254","57,120","94,810","181,605"
128,sumner co,"49,170","49,086","46,988","85,660","191,646"
129,tipton co,"53,763","53,503","51,528","81,081","148,600"
130,trousdale co,"48,271","47,627","44,706","72,809","96,391"
131,unicoi co,"46,756","46,478","44,148","65,544","104,316"
132,union co,"46,663","46,278","43,970","69,540","93,900"
133,van buren co,"49,820","49,011","46,806","63,002","83,675"
134,warren co,"47,864","47,594","45,881","72,458","105,629"
135,washington co,"49,743","49,618","48,087","66,154","127,500"
136,johnson city,"59,714","59,451","56,971","99,255","166,934"
137,wayne co,"48,209","47,973","46,135","70,226","97,422"
138,weakley co,"47,134","46,907","44,837","74,995","128,120"
139,white co,"50,231","50,073","48,576","66,789","87,748"
140,williamson co,"54,174","53,994","51,309","1 12,518","260,000"
141,*franklin,"60,278","59,392","56,980","1 07,276","182,800"
142,wilson co,"50,603","50,418","48,049","90,542","165,000"
143,*lebanon,"57,015","56,391","53,454","92,217","141,755"
144,achievement school district,"56,814","56,814","54,373","91,425","220,000"

In [22]:
abs1617=abs1617.apply(lambda x: x.astype(str).str.lower())
abs1617['system_name'] = abs1617['system_name'].str.replace("county", "co")

In [23]:
abs1617_all = abs1617[abs1617.subgroup == 'all students']

In [24]:
salary1617.sort_values(by = 'system_name')

,system_name,licensed_educator,instuctional_personnel,classroom_teacher,principal,superintendent
47,*bradford,"47,426","46,315","42,990","74,552","100,760"
141,*franklin,"60,278","59,392","56,980","1 07,276","182,800"
48,*gibson co. spec.,"48,235","47,785","45,180","76,188","106,000"
15,*hollow rock-br,"45,482","44,419","42,627","66,570","88,876"
16,*huntingdon,"50,002","49,524","47,468","78,083","97,690"
143,*lebanon,"57,015","56,391","53,454","92,217","141,755"
17,*mckenzie,"49,860","49,295","47,028","76,923","88,978"
45,*milan,"48,751","48,421","45,655","88,535","103,300"
112,*oneida,"47,075","46,634","44,093","76,213","87,500"
66,*paris,"53,391","52,826","50,863","85,571","108,303"
89,*richard city,"43,165","42,226","41,364","59,300","63,345"
18,*south carroll,"48,333","48,204","45,813","66,177","92,527"
46,*trenton,"48,413","47,355","44,757","73,280","118,575"
19,*west carroll,"46,471","45,944","44,329","68,459","90,162"
144,achievement school district,"56,814","56,814","54,373","91,425","220,000"
32,alamo,"45,070","43,411","42,886","70,003","101,356"
8,alcoa,"64,653","64,502","61,790","99,120","112,567"
1,anderson co,"49,268","48,764","46,386","81,234","135,000"
116,arlington,"62,382","61,307","58,891","1 07,598","157,570"
83,athens,"59,050","58,586","55,254","98,858","126,380"
117,bartlett,"60,056","59,092","56,740","1 09,258","194,400"
4,bedford co,"47,974","47,685","45,733","78,245","107,826"
33,bells,"48,652","48,652","46,747","56,399","76,000"
5,benton co,"48,233","48,032","45,908","64,938","89,207"
6,bledsoe co,"51,766","51,268","48,781","69,205","103,635"
7,blount co,"53,556","53,330","50,990","90,387","128,900"
10,bradley co,"52,614","52,471","50,559","79,943","136,000"
126,bristol,"56,033","55,582","52,591","96,979","146,019"
12,campbell co,"48,445","48,239","45,726","72,243","108,918"
13,cannon co,"46,534","46,219","44,245","68,512","99,521"
...,...,...,...,...,...,...
103,polk co,"50,615","50,187","48,429","77,124","105,292"
104,putnam co,"49,303","49,093","47,186","74,008","103,000"
105,rhea co,"46,201","45,827","43,826","74,283","105,639"
107,roane co,"52,600","52,461","50,470","78,674","120,000"
108,robertson co,"46,637","46,177","44,548","74,412","150,000"
60,rogersville,"51,176","49,910","48,436","80,754","101,261"
109,rutherford co,"52,875","52,750","50,832","91,962","151,761"
111,scott co,"46,172","45,770","43,994","62,645","85,819"
113,sequatchie co,"48,359","48,120","46,463","73,347","89,760"
114,sevier co,"52,709","52,502","50,356","91,611","149,248"
115,shelby co,"59,413","59,214","56,456","1 01,644","277,070"
122,smith co,"45,572","44,945","42,951","64,385","124,995"
123,stewart co,"49,921","49,589","47,148","70,787","99,752"
125,sullivan co,"48,357","48,098","46,787","73,351","132,600"
128,sumner co,"49,170","49,086","46,988","85,660","191,646"
94,sweetwater,"51,958","51,615","49,606","69,197","91,875"
129,tipton co,"53,763","53,503","51,528","81,081","148,600"
130,trousdale co,"48,271","47,627","44,706","72,809","96,391"
30,tullahoma,"53,427","52,887","50,964","87,513","142,844"
131,unicoi co,"46,756","46,478","44,148","65,544","104,316"
99,union city,"51,508","50,800","48,318","88,408","127,920"
132,union co,"46,663","46,278","43,970","69,540","93,900"
133,van buren co,"49,820","49,011","46,806","63,002","83,675"
134,warren co,"47,864","47,594","45,881","72,458","105,629"
135,washington co,"49,743","49,618","48,087","66,154","127,500"
137,wayne co,"48,209","47,973","46,135","70,226","97,422"
138,weakley co,"47,134","46,907","44,837","74,995","128,120"
139,white co,"50,231","50,073","48,576","66,789","87,748"
140,williamson co,"54,174","53,994","51,309","1 12,518","260,000"
142,wilson co,"50,603","50,418","48,049","90,542","165,000"

In [25]:
salary1617['system_name'] = salary1617['system_name'].str.replace("west carroll", "west carroll ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("trenton", "trenton ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("south carroll", "south carroll ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("richard city", "richard city ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("paris", "paris ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("oneida", "oneida ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("milan", "milan ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("mckenzie", "mckenzie ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("lebanon", "lebanon ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("huntingdon", "huntingdon ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("hollow rock-br", "hollow rock - bruceton ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("gibson co. spec.", "gibson co ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("franklin", "franklin ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("bradford", "bradford ssd")
salary1617['system_name'] = salary1617['system_name'].str.replace("*", "")

In [26]:
abs1617_all.sort_values(by='system_name')

,year,system,system_name,subgroup,n_students,n_chronically_absent,n_10_to_20_pct,n_greater_than_20_pct,pct_chronically_absent,pct_10_to_20_pct,pct_greater_than_20_pct
1545,2017,985,achievement school district,all students,11436,3404,2451,953,29.8,21.4,8.3
330,2017,171,alamo,all students,570,34,31,3,6,5.4,.5
77,2017,51,alcoa,all students,1948,155,140,15,8,7.2,.8
1507,2017,961,alvin c york institute,all students,584,85,69,16,14.6,11.8,2.7
0,2017,10,anderson co,all students,6331,761,607,154,12,9.6,2.4
1209,2017,793,arlington,all students,5089,216,194,22,4.2,3.8,.4
859,2017,541,athens,all students,1535,108,90,18,7,5.9,1.2
1220,2017,794,bartlett,all students,8710,746,643,103,8.6,7.4,1.2
33,2017,20,bedford co,all students,8502,1088,863,225,12.8,10.2,2.6
338,2017,172,bells,all students,360,16,16,0,4.4,4.4,0
44,2017,30,benton co,all students,2123,192,167,25,9,7.9,1.2
55,2017,40,bledsoe co,all students,1681,279,227,52,16.6,13.5,3.1
66,2017,50,blount co,all students,10641,967,820,147,9.1,7.7,1.4
488,2017,274,bradford,all students,523,42,37,5,8,7.1,1
99,2017,60,bradley co,all students,9770,1103,939,164,11.3,9.6,1.7
1308,2017,821,bristol,all students,3921,437,341,96,11.1,8.7,2.4
121,2017,70,campbell co,all students,5456,1178,939,239,21.6,17.2,4.4
132,2017,80,cannon co,all students,1894,275,223,52,14.5,11.8,2.7
143,2017,90,carroll co,all students,181,0,0,0,0,0,0
202,2017,100,carter co,all students,5209,1417,1047,370,27.2,20.1,7.1
224,2017,110,cheatham co,all students,6232,881,706,175,14.1,11.3,2.8
235,2017,120,chester co,all students,2846,454,376,78,16,13.2,2.7
246,2017,130,claiborne co,all students,4219,967,805,162,22.9,19.1,3.8
257,2017,140,clay co,all students,1026,92,74,18,9,7.2,1.8
110,2017,61,cleveland,all students,5499,601,464,137,10.9,8.4,2.5
11,2017,11,clinton,all students,894,66,63,3,7.4,7,.3
266,2017,150,cocke co,all students,4473,783,626,157,17.5,14,3.5
288,2017,160,coffee co,all students,4327,515,419,96,11.9,9.7,2.2
1231,2017,795,collierville,all students,8306,571,508,63,6.9,6.1,.8
320,2017,170,crockett co,all students,1969,86,77,9,4.4,3.9,.5
...,...,...,...,...,...,...,...,...,...,...,...
1132,2017,750,rutherford co,all students,43703,4696,3908,788,10.7,8.9,1.8
1154,2017,760,scott co,all students,2753,164,146,18,6,5.3,.7
1176,2017,770,sequatchie co,all students,2204,424,358,66,19.2,16.2,3
1187,2017,780,sevier co,all students,14373,2956,2430,526,20.6,16.9,3.7
1198,2017,792,shelby co,all students,105808,17829,13848,3981,16.9,13.1,3.8
1275,2017,800,smith co,all students,2991,150,139,11,5,4.6,.4
182,2017,95,south carroll,all students,337,18,17,1,5.3,5,.3
1286,2017,810,stewart co,all students,1983,300,269,31,15.1,13.6,1.6
1297,2017,820,sullivan co,all students,9686,1473,1172,301,15.2,12.1,3.1
1330,2017,830,sumner co,all students,28914,2739,2309,430,9.5,8,1.5
975,2017,621,sweetwater,all students,1513,196,170,26,13,11.2,1.7
1517,2017,963,tennessee school for blind,all students,119,36,25,11,30.3,21,9.2
1526,2017,964,tennessee school for the deaf,all students,134,34,30,4,25.4,22.4,3
1341,2017,840,tipton co,all students,10749,1048,968,80,9.7,9,.7
477,2017,273,trenton,all students,1258,126,115,11,10,9.1,.9
1352,2017,850,trousdale co,all students,1259,129,111,18,10.2,8.8,1.4
309,2017,162,tullahoma,all students,3384,478,366,112,14.1,10.8,3.3
1361,2017,860,unicoi co,all students,2279,474,372,102,20.8,16.3,4.5
1029,2017,661,union city,all students,1607,147,119,28,9.1,7.4,1.7
1372,2017,870,union co,all students,3517,611,455,156,17.4,12.9,4.4
1383,2017,880,van buren co,all students,701,71,58,13,10.1,8.3,1.9
1391,2017,890,warren co,all students,6469,920,759,161,14.2,11.7,2.5
1402,2017,900,washington co,all students,8431,1412,1032,380,16.7,12.2,4.5
1424,2017,910,wayne co,all students,2141,370,331,39,17.3,15.5,1.8
1435,2017,920,weakley co,all students,4136,493,408,85,11.9,9.9,2.1
192,2017,97,west carroll sp dist,all students,899,124,101,23,13.8,11.2,2.6
1500,2017,960,west tennessee school for the deaf,all students,24,0,0,0,0,0,0
1445,2017,930,white co,all students,3864,349,288,61,9,7.5,1.6
1456,2017,940,williamson co,all students,37675,2429,2067,362,6.4,5.5,1
1478,2017,950,wilson co,all students,17740,2107,1707,400,11.9,9.6,2.3

In [27]:
abs1617all = abs1617_all.drop([1500, 1534, 1526, 1517])#West TN School of Deaf, TN School of Blind, TN School of Deaf, Dept of children's ... not included

In [28]:
abs1617all.sort_values(by = 'system_name')

,year,system,system_name,subgroup,n_students,n_chronically_absent,n_10_to_20_pct,n_greater_than_20_pct,pct_chronically_absent,pct_10_to_20_pct,pct_greater_than_20_pct
1545,2017,985,achievement school district,all students,11436,3404,2451,953,29.8,21.4,8.3
330,2017,171,alamo,all students,570,34,31,3,6,5.4,.5
77,2017,51,alcoa,all students,1948,155,140,15,8,7.2,.8
1507,2017,961,alvin c york institute,all students,584,85,69,16,14.6,11.8,2.7
0,2017,10,anderson co,all students,6331,761,607,154,12,9.6,2.4
1209,2017,793,arlington,all students,5089,216,194,22,4.2,3.8,.4
859,2017,541,athens,all students,1535,108,90,18,7,5.9,1.2
1220,2017,794,bartlett,all students,8710,746,643,103,8.6,7.4,1.2
33,2017,20,bedford co,all students,8502,1088,863,225,12.8,10.2,2.6
338,2017,172,bells,all students,360,16,16,0,4.4,4.4,0
44,2017,30,benton co,all students,2123,192,167,25,9,7.9,1.2
55,2017,40,bledsoe co,all students,1681,279,227,52,16.6,13.5,3.1
66,2017,50,blount co,all students,10641,967,820,147,9.1,7.7,1.4
488,2017,274,bradford,all students,523,42,37,5,8,7.1,1
99,2017,60,bradley co,all students,9770,1103,939,164,11.3,9.6,1.7
1308,2017,821,bristol,all students,3921,437,341,96,11.1,8.7,2.4
121,2017,70,campbell co,all students,5456,1178,939,239,21.6,17.2,4.4
132,2017,80,cannon co,all students,1894,275,223,52,14.5,11.8,2.7
143,2017,90,carroll co,all students,181,0,0,0,0,0,0
202,2017,100,carter co,all students,5209,1417,1047,370,27.2,20.1,7.1
224,2017,110,cheatham co,all students,6232,881,706,175,14.1,11.3,2.8
235,2017,120,chester co,all students,2846,454,376,78,16,13.2,2.7
246,2017,130,claiborne co,all students,4219,967,805,162,22.9,19.1,3.8
257,2017,140,clay co,all students,1026,92,74,18,9,7.2,1.8
110,2017,61,cleveland,all students,5499,601,464,137,10.9,8.4,2.5
11,2017,11,clinton,all students,894,66,63,3,7.4,7,.3
266,2017,150,cocke co,all students,4473,783,626,157,17.5,14,3.5
288,2017,160,coffee co,all students,4327,515,419,96,11.9,9.7,2.2
1231,2017,795,collierville,all students,8306,571,508,63,6.9,6.1,.8
320,2017,170,crockett co,all students,1969,86,77,9,4.4,3.9,.5
...,...,...,...,...,...,...,...,...,...,...,...
1110,2017,730,roane co,all students,6517,846,676,170,13,10.4,2.6
1121,2017,740,robertson co,all students,11149,828,712,116,7.4,6.4,1
627,2017,371,rogersville,all students,662,99,89,10,15,13.4,1.5
1132,2017,750,rutherford co,all students,43703,4696,3908,788,10.7,8.9,1.8
1154,2017,760,scott co,all students,2753,164,146,18,6,5.3,.7
1176,2017,770,sequatchie co,all students,2204,424,358,66,19.2,16.2,3
1187,2017,780,sevier co,all students,14373,2956,2430,526,20.6,16.9,3.7
1198,2017,792,shelby co,all students,105808,17829,13848,3981,16.9,13.1,3.8
1275,2017,800,smith co,all students,2991,150,139,11,5,4.6,.4
182,2017,95,south carroll,all students,337,18,17,1,5.3,5,.3
1286,2017,810,stewart co,all students,1983,300,269,31,15.1,13.6,1.6
1297,2017,820,sullivan co,all students,9686,1473,1172,301,15.2,12.1,3.1
1330,2017,830,sumner co,all students,28914,2739,2309,430,9.5,8,1.5
975,2017,621,sweetwater,all students,1513,196,170,26,13,11.2,1.7
1341,2017,840,tipton co,all students,10749,1048,968,80,9.7,9,.7
477,2017,273,trenton,all students,1258,126,115,11,10,9.1,.9
1352,2017,850,trousdale co,all students,1259,129,111,18,10.2,8.8,1.4
309,2017,162,tullahoma,all students,3384,478,366,112,14.1,10.8,3.3
1361,2017,860,unicoi co,all students,2279,474,372,102,20.8,16.3,4.5
1029,2017,661,union city,all students,1607,147,119,28,9.1,7.4,1.7
1372,2017,870,union co,all students,3517,611,455,156,17.4,12.9,4.4
1383,2017,880,van buren co,all students,701,71,58,13,10.1,8.3,1.9
1391,2017,890,warren co,all students,6469,920,759,161,14.2,11.7,2.5
1402,2017,900,washington co,all students,8431,1412,1032,380,16.7,12.2,4.5
1424,2017,910,wayne co,all students,2141,370,331,39,17.3,15.5,1.8
1435,2017,920,weakley co,all students,4136,493,408,85,11.9,9.9,2.1
192,2017,97,west carroll sp dist,all students,899,124,101,23,13.8,11.2,2.6
1445,2017,930,white co,all students,3864,349,288,61,9,7.5,1.6
1456,2017,940,williamson co,all students,37675,2429,2067,362,6.4,5.5,1
1478,2017,950,wilson co,all students,17740,2107,1707,400,11.9,9.6,2.3

In [29]:
salary1617.sort_values(by = 'system_name')

,system_name,licensed_educator,instuctional_personnel,classroom_teacher,principal,superintendent
144,achievement school district,"56,814","56,814","54,373","91,425","220,000"
32,alamo,"45,070","43,411","42,886","70,003","101,356"
8,alcoa,"64,653","64,502","61,790","99,120","112,567"
1,anderson co,"49,268","48,764","46,386","81,234","135,000"
116,arlington,"62,382","61,307","58,891","1 07,598","157,570"
83,athens,"59,050","58,586","55,254","98,858","126,380"
117,bartlett,"60,056","59,092","56,740","1 09,258","194,400"
4,bedford co,"47,974","47,685","45,733","78,245","107,826"
33,bells,"48,652","48,652","46,747","56,399","76,000"
5,benton co,"48,233","48,032","45,908","64,938","89,207"
6,bledsoe co,"51,766","51,268","48,781","69,205","103,635"
7,blount co,"53,556","53,330","50,990","90,387","128,900"
47,bradford ssd,"47,426","46,315","42,990","74,552","100,760"
10,bradley co,"52,614","52,471","50,559","79,943","136,000"
126,bristol,"56,033","55,582","52,591","96,979","146,019"
12,campbell co,"48,445","48,239","45,726","72,243","108,918"
13,cannon co,"46,534","46,219","44,245","68,512","99,521"
14,carroll co,"47,177","43,919","42,115","54,745","94,732"
20,carter co,"45,663","45,421","44,188","61,110","90,993"
22,cheatham co,"47,553","47,452","45,380","78,234","101,449"
23,chester co,"48,748","48,148","45,955","76,149","100,425"
24,claiborne co,"46,329","45,968","43,714","72,503","107,751"
25,clay co,"46,789","46,232","43,905","62,520","77,563"
11,cleveland,"55,241","54,995","52,155","92,900","138,000"
2,clinton,"49,636","49,025","45,343","73,800","100,000"
26,cocke co,"47,887","47,543","45,497","75,125","120,945"
28,coffee co,"48,984","48,713","46,537","72,201","118,554"
118,collierville,"61,368","60,135","58,424","1 04,662","186,000"
31,crockett co,"47,765","46,966","45,012","66,842","108,915"
34,cumberland co,"44,784","44,622","42,485","73,569","105,550"
...,...,...,...,...,...,...
107,roane co,"52,600","52,461","50,470","78,674","120,000"
108,robertson co,"46,637","46,177","44,548","74,412","150,000"
60,rogersville,"51,176","49,910","48,436","80,754","101,261"
109,rutherford co,"52,875","52,750","50,832","91,962","151,761"
111,scott co,"46,172","45,770","43,994","62,645","85,819"
113,sequatchie co,"48,359","48,120","46,463","73,347","89,760"
114,sevier co,"52,709","52,502","50,356","91,611","149,248"
115,shelby co,"59,413","59,214","56,456","1 01,644","277,070"
122,smith co,"45,572","44,945","42,951","64,385","124,995"
18,south carroll ssd,"48,333","48,204","45,813","66,177","92,527"
123,stewart co,"49,921","49,589","47,148","70,787","99,752"
125,sullivan co,"48,357","48,098","46,787","73,351","132,600"
128,sumner co,"49,170","49,086","46,988","85,660","191,646"
94,sweetwater,"51,958","51,615","49,606","69,197","91,875"
129,tipton co,"53,763","53,503","51,528","81,081","148,600"
46,trenton ssd,"48,413","47,355","44,757","73,280","118,575"
130,trousdale co,"48,271","47,627","44,706","72,809","96,391"
30,tullahoma,"53,427","52,887","50,964","87,513","142,844"
131,unicoi co,"46,756","46,478","44,148","65,544","104,316"
99,union city,"51,508","50,800","48,318","88,408","127,920"
132,union co,"46,663","46,278","43,970","69,540","93,900"
133,van buren co,"49,820","49,011","46,806","63,002","83,675"
134,warren co,"47,864","47,594","45,881","72,458","105,629"
135,washington co,"49,743","49,618","48,087","66,154","127,500"
137,wayne co,"48,209","47,973","46,135","70,226","97,422"
138,weakley co,"47,134","46,907","44,837","74,995","128,120"
19,west carroll ssd,"46,471","45,944","44,329","68,459","90,162"
139,white co,"50,231","50,073","48,576","66,789","87,748"
140,williamson co,"54,174","53,994","51,309","1 12,518","260,000"
142,wilson co,"50,603","50,418","48,049","90,542","165,000"

In [30]:
salary1617['system_name'].unique()

array(['anderson co', 'clinton', 'oak ridge', 'bedford co', 'benton co',
       'bledsoe co', 'blount co', 'alcoa', 'maryville', 'bradley co',
       'cleveland', 'campbell co', 'cannon co', 'carroll co',
       'hollow rock - bruceton ssd', 'huntingdon ssd', 'mckenzie ssd',
       'south carroll ssd', 'west carroll ssd', 'carter co',
       'elizabethton', 'cheatham co', 'chester co', 'claiborne co',
       'clay co', 'cocke co', 'newport', 'coffee co', 'manchester',
       'tullahoma', 'crockett co', 'alamo', 'bells', 'cumberland co',
       'davidson co', 'decatur co', 'dekalb co', 'dickson co', 'dyer co',
       'dyersburg', 'fayette co', 'fentress co', 'franklin ssd co',
       'humboldt', 'milan ssd', 'trenton ssd', 'bradford ssd',
       'gibson co ssd', 'giles co', 'grainger co', 'greene co',
       'greeneville', 'grundy co', 'hamblen co', 'hamilton co',
       'hancock co', 'hardeman co', 'hardin co', 'hawkins co',
       'rogersville', 'haywood co', 'henderson co', 'lexington',
       'henry co', 'paris ssd', 'hickman co', 'houston co',
       'humphreys co', 'jackson co', 'jefferson co', 'johnson co',
       'knox co', 'lake co', 'lauderdale co', 'lawrence co', 'lewis co',
       'lincoln co', 'fayetteville', 'loudon co', 'lenoir city',
       'mcminn co', 'athens', 'etowah', 'mcnairy co', 'macon co',
       'madison co', 'marion co', 'richard city ssd', 'marshall co',
       'maury co', 'meigs co', 'monroe co', 'sweetwater', 'montgomery co',
       'moore co', 'morgan co', 'obion co', 'union city', 'overton co',
       'perry co', 'pickett co', 'polk co', 'putnam co', 'rhea co',
       'dayton', 'roane co', 'robertson co', 'rutherford co',
       'murfreesboro', 'scott co', 'oneida ssd', 'sequatchie co',
       'sevier co', 'shelby co', 'arlington', 'bartlett', 'collierville',
       'germantown', 'lakeland', 'millington', 'smith co', 'stewart co',
       'sullivan co', 'bristol', 'kingsport', 'sumner co', 'tipton co',
       'trousdale co', 'unicoi co', 'union co', 'van buren co',
       'warren co', 'washington co', 'johnson city', 'wayne co',
       'weakley co', 'white co', 'williamson co', 'franklin ssd',
       'wilson co', 'lebanon ssd', 'achievement school district'],
      dtype=object)

In [37]:
abs1617all.system_name.unique()

array(['anderson co', 'clinton', 'oak ridge', 'bedford co', 'benton co',
       'bledsoe co', 'blount co', 'alcoa', 'maryville', 'bradley co',
       'cleveland', 'campbell co', 'cannon co', 'carroll co',
       'hollow rock - bruceton', 'huntingdon special school district',
       'mckenzie', 'south carroll', 'west carroll sp dist', 'carter co',
       'elizabethton', 'cheatham co', 'chester co', 'claiborne co',
       'clay co', 'cocke co', 'newport', 'coffee co', 'manchester',
       'tullahoma', 'crockett co', 'alamo', 'bells', 'cumberland co',
       'davidson co', 'decatur co', 'dekalb co', 'dickson co', 'dyer co',
       'dyersburg', 'fayette co public schools', 'fentress co',
       'franklin co', 'humboldt city schools', 'milan', 'trenton',
       'bradford', 'gibson co sp dist', 'giles co', 'grainger co',
       'greene co', 'greeneville', 'grundy co', 'hamblen co',
       'hamilton co', 'hancock co', 'hardeman co schools', 'hardin co',
       'hawkins co', 'rogersville', 'haywood co', 'henderson co',
       'lexington', 'henry co', 'paris', 'hickman co', 'houston co',
       'humphreys co', 'jackson co', 'jefferson co', 'johnson co',
       'knox co', 'lake co', 'lauderdale co', 'lawrence co', 'lewis co',
       'lincoln co', 'fayetteville', 'loudon co', 'lenoir city',
       'mcminn co', 'athens', 'etowah', 'mcnairy co', 'macon co',
       'madison co', 'marion co', 'richard city', 'marshall co',
       'maury co', 'meigs co', 'monroe co', 'sweetwater', 'montgomery co',
       'moore co', 'morgan co', 'obion co', 'union city', 'overton co',
       'perry co', 'pickett co', 'polk co', 'putnam co', 'rhea co',
       'dayton', 'roane co', 'robertson co', 'rutherford co',
       'murfreesboro', 'scott co', 'oneida', 'sequatchie co', 'sevier co',
       'shelby co', 'arlington', 'bartlett', 'collierville', 'germantown',
       'lakeland', 'millington municipal schools', 'smith co',
       'stewart co', 'sullivan co', 'bristol', 'kingsport', 'sumner co',
       'tipton co', 'trousdale co', 'unicoi co', 'union co',
       'van buren co', 'warren co', 'washington co', 'johnson city',
       'wayne co', 'weakley co', 'white co', 'williamson co',
       'franklin ssd', 'wilson co', 'lebanon', 'alvin c york institute',
       'achievement school district'], dtype=object)

In [31]:
#used to check charts names... unequal now due to alvin c. york
#abs1617all['system_name'].unique() == salary1617['system_name'].unique()

In [33]:
ck=pd.merge(abs1617all,salary1617, how = 'outer', on = 'system_name').sort_values(by='system_name')

In [34]:
ck.shape

(161, 16)

In [35]:
salary1617['system_name'] = salary1617['system_name'].str.replace("franklin ssd co", "franklin co")
salary1617['system_name'] = salary1617['system_name'].str.replace("humboldt", "humboldt city schools")

abs1617all['system_name'] = abs1617all['system_name'].str.replace("bradford", "bradford ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("fayette co public schools", "fayette co")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("gibson co sp dist", "gibson co ssd")

abs1617all['system_name'] = abs1617all['system_name'].str.replace("hardeman co schools", "hardeman co")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("hollow rock - bruceton", "hollow rock - bruceton ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("huntingdon special school district", "huntingdon ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("lebanon", "lebanon ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("mckenzie", "mckenzie ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("milan", "milan ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("millington municipal schools", "millington")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("oneida", "oneida ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("paris", "paris ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("richard city", "richard city ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("south carroll", "south carroll ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("trenton", "trenton ssd")
abs1617all['system_name'] = abs1617all['system_name'].str.replace("west carroll sp dist", "west carroll ssd")

In [36]:
ck2 = pd.merge(abs1617all,salary1617, how = 'outer', on = 'system_name').sort_values(by='system_name')

In [37]:
ck2.shape

(143, 16)

In [42]:
district=pd.merge(abs1617all,salary1617, how = 'outer', on = 'system_name')

In [43]:
district.shape

(143, 16)

In [44]:
district_county = pd.read_csv("C:/Users/unews/nss_data_science/Capstone/district_county.csv")

In [45]:
district_county.head()

,Unnamed: 0,Rank,District Name,County,Unnamed: 3,Salary,Rank.1,District Name.1,County.1,Unnamed: 8,Salary.1,Rank.2,District Name.2,County.2,Unnamed: 13,Salary.2
0,0,NaN,TN School for the Blind-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,1.0,NaN,Davidson,$,"59,978",51.0,Union City,Obion,$,"48,640",101.0,Newport,Cocke,$,"44,909"
2,2,NaN,SSS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,2.0,Oak Ridge,Anderson,$,"59,197",52.0,Henry County,Henry,$,"48,636",102.0,Cannon County,Cannon,$,"44,871"
4,4,3.0,Johnson City,Washington,$,"59,130",53.0,Meigs County,Meigs,$,"48,489",103.0,Trenton SSD,Gibson,$,"44,659"

In [46]:
dc1=district_county.iloc[:,2:4]
dc2 = district_county.iloc[:,7:9]
dc3 = district_county.iloc[:,12:14]

In [48]:
dc2.columns = ('District Name', 'County')
dc3.columns = ('District Name', 'County')

In [49]:
dcmap = pd.concat([dc1,dc2])
dcmap = pd.concat([dcmap,dc3])

In [50]:
dcmap.shape

(174, 2)

In [51]:
dcmap = dcmap.dropna()

In [52]:
dcmap.shape

(143, 2)

In [53]:
dcmap.head()

  District Name      County
3     Oak Ridge    Anderson
4  Johnson City  Washington
5     Maryville      Blount
6         Alcoa      Blount
7  Murfreesboro  Rutherford

In [54]:
dcmap=dcmap.apply(lambda x: x.astype(str).str.lower())

In [55]:
dcmap['District Name'] = dcmap['District Name'].str.replace("county", "co")

In [57]:
dcmap.head(20)

    District Name      County
3       oak ridge    anderson
4    johnson city  washington
5       maryville      blount
6           alcoa      blount
7    murfreesboro  rutherford
8        bartlett      shelby
9    collierville      shelby
10      arlington      shelby
11        bristol    sullivan
12   franklin ssd  williamson
16    davidson co    davidson
17      cleveland     bradley
18    lebanon ssd      wilson
19    hamilton co    hamilton
20     germantown      shelby
21  rutherford co  rutherford
22  montgomery co  montgomery
26     manchester      coffee
27         etowah      mcminn
28     bradley co     bradley

In [58]:
dcmap = dcmap.reset_index()

In [59]:
dcmap.head(20)

    index  District Name      County
0       3      oak ridge    anderson
1       4   johnson city  washington
2       5      maryville      blount
3       6          alcoa      blount
4       7   murfreesboro  rutherford
5       8       bartlett      shelby
6       9   collierville      shelby
7      10      arlington      shelby
8      11        bristol    sullivan
9      12   franklin ssd  williamson
10     16    davidson co    davidson
11     17      cleveland     bradley
12     18    lebanon ssd      wilson
13     19    hamilton co    hamilton
14     20     germantown      shelby
15     21  rutherford co  rutherford
16     22  montgomery co  montgomery
17     26     manchester      coffee
18     27         etowah      mcminn
19     28     bradley co     bradley

In [60]:
dcmap = dcmap.iloc[:,1:]

In [61]:
dcmap.columns = ('system_name', 'county')

In [62]:
dcmap.shape

(143, 2)

In [65]:
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [67]:
district['system_name'] = district['system_name'].str.replace('alvin c york institute', 'alvin c york institute ssd')
dcmap['system_name'] = dcmap['system_name'].str.replace('a.c. york institute-sss', 'alvin c york institute ssd')

In [75]:
district['system_name'] = district['system_name'].str.replace('bells', 'bells city')
dcmap['system_name'] = dcmap['system_name'].str.replace('h-rock-bruceton ssd', 'hollow rock - bruceton ssd')
dcmap['system_name'] = dcmap['system_name'].str.replace('humboldt', 'humboldt city schools')

In [83]:
district_dcmap = pd.merge(dcmap,district,how = 'outer').sort_values(by='system_name')

In [96]:
district_dcmap = district_dcmap.drop([130])

In [99]:
district_dcmap

                     system_name      county  year system      subgroup n_students n_chronically_absent n_10_to_20_pct n_greater_than_20_pct pct_chronically_absent pct_10_to_20_pct pct_greater_than_20_pct licensed_educator instuctional_personnel classroom_teacher principal superintendent
143  achievement school district         NaN  2017    985  all students      11436                 3404           2451                   953                   29.8             21.4                     8.3            56,814                 56,814            54,373    91,425        220,000
131                        alamo    crockett  2017    171  all students        570                   34             31                     3                      6              5.4                      .5            45,070                 43,411            42,886    70,003        101,356
3                          alcoa      blount  2017     51  all students       1948                  155            140                    15                      8              7.2                      .8            64,653                 64,502            61,790    99,120        112,567
70    alvin c york institute ssd    fentress  2017    961  all students        584                   85             69                    16                   14.6             11.8                     2.7               NaN                    NaN               NaN       NaN            NaN
40                   anderson co    anderson  2017     10  all students       6331                  761            607                   154                     12              9.6                     2.4            49,268                 48,764            46,386    81,234        135,000
7                      arlington      shelby  2017    793  all students       5089                  216            194                    22                    4.2              3.8                      .4            62,382                 61,307            58,891  1 07,598        157,570
21                        athens      mcminn  2017    541  all students       1535                  108             90                    18                      7              5.9                     1.2            59,050                 58,586            55,254    98,858        126,380
5                       bartlett      shelby  2017    794  all students       8710                  746            643                   103                    8.6              7.4                     1.2            60,056                 59,092            56,740  1 09,258        194,400
32                    bedford co     bedford  2017     20  all students       8502                 1088            863                   225                   12.8             10.2                     2.6            47,974                 47,685            45,733    78,245        107,826
83                    bells city    crockett  2017    172  all students        360                   16             16                     0                    4.4              4.4                       0            48,652                 48,652            46,747    56,399         76,000
82                     benton co      benton  2017     30  all students       2123                  192            167                    25                      9              7.9                     1.2            48,233                 48,032            45,908    64,938         89,207
52                    bledsoe co     bledsoe  2017     40  all students       1681                  279            227                    52                   16.6             13.5                     3.1            51,766                 51,268            48,781    69,205        103,635
51                     blount co      blount  2017     50  all students      10641                  967            820                   147                    9.1              7.7                     1.4            53,556                 53,330            50,990    90,387        128,900
132                 bradford ssd      gibson  2017    274  all students        523                   42             37                     5                      8              7.1                       1            47,426                 46,315            42,990    74,552        100,760
19                    bradley co     bradley  2017     60  all students       9770                 1103            939                   164                   11.3              9.6                     1.7            52,614                 52,471            50,559    79,943        136,000
8                        bristol    sullivan  2017    821  all students       3921                  437            341                    96                   11.1              8.7                     2.4            56,033                 55,582            52,591    96,979        146,019
73                   campbell co    campbell  2017     70  all students       5456                 1178            939                   239                   21.6             17.2                     4.4            48,445                 48,239            45,726    72,243        108,918
98                     cannon co      cannon  2017     80  all students       1894                  275            223                    52                   14.5             11.8                     2.7            46,534                 46,219            44,245    68,512         99,521
80                    carroll co     carroll  2017     90  all students        181                    0              0                     0                      0                0                       0            47,177                 43,919            42,115    54,745         94,732
122                    carter co      carter  2017    100  all students       5209                 1417           1047                   370                   27.2             20.1                     7.1            45,663                 45,421            44,188    61,110         90,993
87                   cheatham co    cheatham  2017    110  all students       6232                  881            706                   175                   14.1             11.3                     2.8            47,553                 47,452            45,380    78,234        101,449
133                   chester co     chester  2017    120  all students       2846                  454            376                    78                     16             13.2                     2.7            48,748                 48,148            45,955    76,149        100,425
115                 claiborne co   claiborne  2017    130  all students       4219                  967            805                   162                   22.9             19.1                     3.8            46,329                 45,968            43,714    72,503        107,751
121                      clay co        clay  2017    140  all students       1026                   92             74                    18                      9              7.2                     1.8            46,789                 46,232            43,905    62,520         77,563
11                     cleveland     bradley  2017     61  all students       5499                  601            464                   137                   10.9              8.4                     2.5            55,241                 54,995            52,155    92,900        138,000
38                       clinton    anderson  2017     11  all students        894                   66             63                     3                    7.4                7                      .3            49,636                 49,025            45,343    73,800        100,000
78                      cocke co       cocke  2017    150  all students       4473                  783            626                   157                   17.5               14                     3.5            47,887                 47,543            45,497    75,125        120,945
55                     coffee co      coffee  2017    160  all students       4327                  515            419                    96                   11.9              9.7                     2.2            48,984                 48,713            46,537    72,201        118,554
6                   collierville      shelby  2017    795  all students       8306                  571            508                    63                    6.9              6.1                      .8            61,368                 60,135            58,424  1 04,662        186,000
103                  crockett co    crockett  2017    170  all students       1969                   86             77                     9                    4.4              3.9                      .5            47,765                 46,966            45,012    66,842        108,915
120                cumberland co  cumberland  2017    180  all students       7172                  883            722                   161                   12.3             10.1                     2.2            44,784                 44,622            42,485    73,569        105,550
10                   davidson co    davidson  2017    190  all students      82312                13931          10014                  3917                   16.9             12.2                     4.8            55,424                 55,218            51,855  1 03,445        337,000
28                        dayton        rhea  2017    721  all students        838                   68             62                     6                    8.1              7.4                      .7            49,372                 48,706            48,276    63,725         91,990
95                    decatur co     decatur  2017    200  all students       1569                  307            254                    53                   19.6             16.2                     3.4            48,838                 48,296            45,987    73,763         97,400
92                     dekalb co      dekalb  2017    210  all students       2870                  313            243                    70                   10.9              8.5                     2.4            45,026                 44,847            43,183    67,396         85,000
53                    dickson co     dickson  2017    220  all students       8256                  894            766                   128                   10.8              9.3                     1.6            46,994                 46,744            44,708    73,545        125,250
39                       dyer co        dyer  2017    230  all students       3738                  286            248                    38                    7.7              6.6                       1            51,362                 51,030            48,494    83,524        117,900
45                     dyersburg        dyer  2017    231  all students       2596                  306            258                    48                   11.8              9.9                     1.8            54,443                 53,938            51,767    82,199        120,000
63                  elizabethton      carter  2017    101  all students       2472                  269            201                    68                   10.9              8.1                     2.8            50,666                 50,241            47,945    80,167        110,313
18                        etowah      mcminn  2017    542  all students        350                   60             51                     9                   17.1             14.6                     2.6            54,070                 52,037            48,182    83,138         58,000
94                    fayette co     fayette  2017    240  all students       3282                  444            390                    54                   13.5             11.9                     1.6            43,696                 43,413            41,855    61,612        108,800
26                  fayetteville       lewis  2017    521  all students       1384                  168            136                    32                   12.1              9.8                     2.3            51,782                 51,221            48,206    79,222        118,220
117                  fentress co    fentress  2017    250  all students       2068                  262            244                    18                   12.7             11.8                      .9            45,747                 45,541            42,922    63,072         89,332
77                   franklin co    franklin  2017    260  all students       5309                  764            667                    97                   14.4             12.6                     1.8            49,062                 48,752            46,957    72,442        113,200
9                   franklin ssd  williamson  2017    941  all students       3528                  171            155                    16                    4.8              4.4                      .5            60,278                 59,392            56,980  1 07,276        182,800
14                    germantown      shelby  2017    796  all students       5895                  297            251                    46                      5              4.3                      .8            61,376                 59,817            57,769  1 07,143        170,000
57                 gibson co ssd      gibson  2017    275  all students       3939                  288            246                    42                    7.3              6.2                     1.1            48,235                 47,785            45,180    76,188        106,000
89                      giles co       giles  2017    280  all students       3799                  401            337                    64                   10.6              8.9                     1.7            48,837                 48,454            46,535    75,975        106,000
134                  grainger co    grainger  2017    290  all students       3376                 1223            825                   398                   36.2             24.4                    11.8            48,281                 47,921            45,831    68,502         97,479
66                     greene co      greene  2017    300  all students       6561                  688            596                    92                   10.5              9.1                     1.4            48,810                 48,471            46,868    72,052        105,166
33                   greeneville      greene  2017    301  all students       3045                  195            166                    29                    6.4              5.5                       1            54,609                 54,232            51,295    90,497        131,626
125                    grundy co      grundy  2017    310  all students       2046                  243            210                    33                   11.9             10.3                     1.6            44,271                 43,948            42,582    63,014         85,000
23                    hamblen co     hamblen  2017    320  all students      10161                  677            596                    81                    6.7              5.9                      .8            51,154                 50,978            49,134    83,650        130,683
13                   hamilton co    hamilton  2017    330  all students      43443                 3859           2997                   862                    8.9              6.9                       2            53,017                 52,735            50,469    90,784        170,200
126                   hancock co     hancock  2017    340  all students        972                  160            122                    38                   16.5             12.6                     3.9            44,896                 44,456            41,992    66,948         76,500
91                   hardeman co    hardeman  2017    350  all students       3522                  473            392                    81                   13.4             11.1                     2.3            49,212                 48,858            46,467    72,536        109,322
128                    hardin co      hardin  2017    360  all students       3433                  541            448                    93                   15.8               13                     2.7            46,820                 46,577            44,760    63,897         91,376
59                    hawkins co     hawkins  2017    370  all students       6666                  916            745                   171                   13.7             11.2                     2.6            46,735                 46,520            44,563    64,376         99,306
119                   haywood co     haywood  2017    380  all students       2821                  273            237                    36                    9.7              8.4                     1.3            47,470                 47,053            44,304    68,504        101,000
71                  henderson co   henderson  2017    390  all students       3875                  523            397                   126                   13.5             10.2                     3.3            50,540                 50,304            48,063    68,981        105,000
48                      henry co       henry  2017    400  all students       2956                  297            231                    66                     10              7.8                     2.2            50,404                 50,121            47,613    76,753        125,400
93                    hickman co     hickman  2017    410  all students       3272                  430            365                    65                   13.1             11.2                       2            46,715                 46,388            44,293    77,659         97,000
107   hollow rock - bruceton ssd     carroll  2017     92  all students        635                   74             69                     5                   11.7             10.9                      .8            45,482                 44,419            42,627    66,570         88,876
68                    houston co     houston  2017    420  all students       1329                  523            354                   169                   39.4             26.6                    12.7            49,703                 49,348            47,025    67,201         89,100
75         humboldt city schools      gibson  2017    271  all students       1093                  200            161                    39                   18.3             14.7                     3.6            46,899                 45,846            41,765    76,023        121,486
104                 humphreys co   humphreys  2017    430  all students       2842                  410            365                    45                   14.4             12.8                     1.6            48,182                 48,032            46,159    69,350         91,100
61                huntingdon ssd     carroll  2017     93  all students       1198                   89             86                     3                    7.4              7.2                      .3            50,002                 49,524            47,468    78,083         97,690
106                   jackson co     jackson  2017    440  all students       1444                  143            116                    27                    9.9                8                     1.9            47,555                 47,236            44,936    68,643         80,878

In [101]:
district_dcmap.to_csv('C:/Users/unews/nss_data_science/Capstone/district_dcmap.csv')

143    Achievement school district
131                          Alamo
3                            Alcoa
70      Alvin c york institute ssd
40                     Anderson co
7                        Arlington
21                          Athens
5                         Bartlett
32                      Bedford co
83                      Bells city
82                       Benton co
52                      Bledsoe co
51                       Blount co
132                   Bradford ssd
19                      Bradley co
8                          Bristol
73                     Campbell co
98                       Cannon co
80                      Carroll co
122                      Carter co
87                     Cheatham co
133                     Chester co
115                   Claiborne co
121                        Clay co
11                       Cleveland
38                         Clinton
78                        Cocke co
55                       Coffee co
6                     Collierville
103                    Crockett co
120                  Cumberland co
10                     Davidson co
28                          Dayton
95                      Decatur co
92                       Dekalb co
53                      Dickson co
39                         Dyer co
45                       Dyersburg
63                    Elizabethton
18                          Etowah
94                      Fayette co
26                    Fayetteville
117                    Fentress co
77                     Franklin co
9                     Franklin ssd
14                      Germantown
57                   Gibson co ssd
89                        Giles co
134                    Grainger co
66                       Greene co
33                     Greeneville
125                      Grundy co
23                      Hamblen co
13                     Hamilton co
126                     Hancock co
91                     Hardeman co
128                      Hardin co
59                      Hawkins co
119                     Haywood co
71                    Henderson co
48                        Henry co
93                      Hickman co
107     Hollow rock - bruceton ssd
68                      Houston co
75           Humboldt city schools
104                   Humphreys co
61                  Huntingdon ssd
106                     Jackson co
100                   Jefferson co
1                     Johnson city
135                     Johnson co
136                      Kingsport
20                         Knox co
112                        Lake co
137                       Lakeland
72                   Lauderdale co
76                     Lawrence co
12                     Lebanon ssd
25                     Lenoir city
96                        Lewis co
54                       Lexington
101                     Lincoln co
43                       Loudon co
88                        Macon co
65                      Madison co
17                      Manchester
60                       Marion co
44                     Marshall co
2                        Maryville
41                        Maury co
81                    Mckenzie ssd
37                       Mcminn co
114                     Mcnairy co
49                        Meigs co
102                      Milan ssd
138                     Millington
85                       Monroe co
16                   Montgomery co
35                        Moore co
113                      Morgan co
4                     Murfreesboro
97                         Newport
0                        Oak ridge
69                        Obion co
109                     Oneida ssd
129                     Overton co
24                       Paris ssd
74                        Perry co
118                     Pickett co
46                         Polk co
139                      Putnam co
105                        Rhea co
116               Richard city ssd
36                        Roane co
34                    Robertson co
29                     Rogersville
15                   Rutherford co
127                       Scott co
31                   Sequatchie co
22                       Sevier co
140                      Shelby co
124                       Smith co
84               South carroll ssd
64                      Stewart co
67                     Sullivan co
79                       Sumner co
62                      Sweetwater
27                       Tipton co
99                     Trenton ssd
141                   Trousdale co
30                       Tullahoma
90                       Unicoi co
47                      Union city
111                       Union co
123                   Van buren co
58                       Warren co
42                   Washington co
110                       Wayne co
86                      Weakley co
108               West carroll ssd
56                        White co
50                   Williamson co
142                      Wilson co
Name: system_name, dtype: object